<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <h1>Accesso</h1>
      <form name="loginForm" novalidate>

        <div data-ng-show="loginError" class="alert alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert"></button>
          <strong>Username o password errati!</strong> Verifica di aver inserito i dati corretti.
        </div>

        <div class="form-group">
          <label for="username">Email</label>
          <input data-ng-model="username" type="text" class="form-control" id="username" placeholder="es. user@gmail.com" required />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input data-ng-model="password" type="password" class="form-control" id="password" placeholder="Password" required />
        </div>

        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn btn-default" href="#/">
              Annulla
            </a>
          </div>

          <div class="btn-group">
            <button data-ng-click="login()" data-ng-disabled="loginForm.$invalid" class="btn btn-primary">
              <span class="glyphicon glyphicon-log-in"></span> Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
