<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <h1>Nuovo Bimbo</h1>
      <form name="babyForm" novalidate>

        <div class="form-group">
          <label for="name">Nome</label>
          <input data-ng-model="baby.name" type="text" class="form-control" id="name" placeholder="Nome" required />
        </div>

        <div class="form-group">
          <label for="surname">Cognome</label>
          <input data-ng-model="baby.surname" type="text" class="form-control" id="surname" placeholder="Cognome" required />
        </div>

        <div class="form-group">
          <label for="dateOfBirth">Data di Nascita</label>
          <input data-ng-model="dateOfBirth" type="date" class="form-control" id="dateOfBirth" data-ng-change="baby.dateOfBirth=dateOfBirth.getTime()" />
        </div>

        <div class="form-group">
          <label for="value">Retta Concordata (&euro;)</label>
          <input data-ng-model="baby.feeCurrency" type="number" step="0.01" min="0.01" data-ng-pattern="/^([0-9]){1,8}([,\.][0-9]{1,2}){0,1}$/" class="form-control" id="value" placeholder="Importo (&euro;)" required />
        </div>

        <div class="form-group">
          <label for="dateStart">Data inizio</label>
          <input data-ng-model="dateStart" type="date" class="form-control" id="dateStart" data-ng-change="baby.dateStart=dateStart.getTime()" required />
        </div>

        <div class="form-group">
          <label for="dateEnd">Data fine (opzionale)</label>
          <input data-ng-model="dateEnd" type="date" class="form-control" id="dateEnd" data-ng-change="baby.dateEnd=dateEnd.getTime()" />
        </div>

        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn btn-default" href="#/babies/list">
              Annulla
            </a>
          </div>

          <div class="btn-group">
            <button data-ng-click="save()" data-ng-disabled="babyForm.$invalid" class="btn btn-primary">
              <span class="glyphicon glyphicon-floppy-disk"></span> Inserisci
            </button>
          </div>

      </form>
    </div>
  </div>
</div>
