<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <h1>Modifica Dati Bambino</h1>
      <form novalidate>

        <div class="form-group">
          <label for="name">Nome</label>
          <input data-ng-model="baby.name" type="text" class="form-control" id="name" placeholder="Nome" required />
        </div>

        <div class="form-group">
          <label for="surname">Cognome</label>
          <input data-ng-model="baby.surname" type="text" class="form-control" id="surname" placeholder="Cognome" />
        </div>

        <div class="form-group">
          <label for="dateOfBirth">Data di Nascita</label>
          <input data-ng-model="dateOfBirth" type="date" class="form-control" id="dateOfBirth" data-ng-change="baby.dateOfBirth=dateOfBirth.getTime()" />
        </div>

        <div class="form-group">
          <label for="value">Retta Concordata (&euro;)</label>
          <input data-ng-model="baby.feeCurrency" type="number" step="0.01" class="form-control" id="value" placeholder="Importo (&euro;)" required />
        </div>

        <div class="form-group">
          <label for="dateOfBirth">Data inizio</label>
          <input data-ng-model="dateStart" type="date" class="form-control" id="dateStart" data-ng-change="baby.dateStart=dateStart.getTime()" />
        </div>

        <div class="form-group">
          <label for="dateOfBirth">Data fine (opzionale)</label>
          <input data-ng-model="dateEnd" type="date" class="form-control" id="dateEnd" data-ng-change="baby.dateEnd=dateEnd.getTime()" />
        </div>

        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn btn-default" href="#/babies/list">
              Annulla
            </a>
          </div>

          <div class="btn-group">
            <button class="btn btn-danger" alt="Remove" data-ng-click="delete()">
              <span class="glyphicon glyphicon-remove"></span> Elimina
            </button>
          </div>

          <div class="btn-group">
            <button data-ng-click="save()" class="btn btn-primary">
              <span class="glyphicon glyphicon-floppy-disk"></span> Salva
            </button>
          </div>

      </form>
    </div>
  </div>
</div>
