<div class="row">
  <div class="col-md-12">
    <h1>
      <span class="glyphicon glyphicon-heart"></span> Bimbi Iscritti
    </h1>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"></div>
      <div class="panel-body">
        <div class="pull-right">
          <a class="btn btn-primary" href="#/babies/add">
            <span class="glyphicon glyphicon-plus"></span> Nuovo
          </a>
        </div>
        <div>
        </div>
      </div>

      <!-- Table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Mesi</th>
            <th>Retta Conc.</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="baby in currentBabyList | orderBy:'name':true">
            <td>{{baby.name}} {{baby.surname}}</td>
            <td>{{baby.age}}</td>
            <td><span data-ng-show="baby.fee">&euro; {{baby.fee / 100 | number : 2 }}</span></td>
            <td>
              <div class="btn-group">
                <a class="btn btn-default btn-sm" alt="Edit" href="#/babies/edit/{{baby.$id}}">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div data-ng-show="oldBabyList.length > 0">
      <h3><span class="glyphicon glyphicon-education"></span> Vecchi Bimbi</h3>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"></div>
        <!-- Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Anni</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="baby in oldBabyList | orderBy:['ageYears', 'name']">
              <td>{{baby.name}} {{baby.surname}}</td>
              <td>{{baby.ageYears}}</td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-default btn-sm" alt="Edit" href="#/babies/edit/{{baby.$id}}">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
