<div class="row">
  <div class="panel">
    <h1>Modifica Operazione</h1>
    <form name="operationForm">

      <div class="form-group clearfix">
        <label>Tipo</label>
        <div class="radio">
          <div class="col-md-2">
            <label>
              <input type="radio" data-ng-model="expense.type" name="operationType" id="typeExpense" value="expense" checked />
              Spesa
            </label>
          </div>
          <div class="col-md-10">
            <label>
              <input type="radio" data-ng-model="expense.type" name="operationType" id="typeEarn" value="earn" />
              Incasso
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="value">Importo (&euro;)</label>
        <input data-ng-model="expense.currency" type="number" step="0.01" min="0.01" data-ng-pattern="/^([0-9]){1,8}([,\.][0-9]{1,2}){0,1}$/" class="form-control" id="value" placeholder="Importo (&euro;)" required />
      </div>

      <div class="form-group">
        <label for="category">Categoria</label>
        <div class="btn-group">
          <button id="category" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{expenseCategories[expense.category]}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li data-ng-repeat="(cat, desc) in expenseCategories"><a href="" data-ng-click="expense.category=cat"> {{desc}}</a></li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Descrizione (opzionale)</label>
        <input data-ng-model="expense.description" type="text" class="form-control" id="description" placeholder="Descrizione" />
      </div>

      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn btn-default" href="#/expenses/list">
            Annulla
          </a>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-danger" alt="Remove" data-ng-click="delete()">
            <span class="glyphicon glyphicon-remove"></span> Elimina
          </button>
        </div>
        <div class="btn-group">
          <button type="submit" data-ng-click="save()" data-ng-disabled="operationForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span> Salva
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
