<div class="row">
  <div class="col-md-12">
    <h1>
      <span class="glyphicon glyphicon-piggy-bank"></span> Cassa
    </h1>


    <div data-ng-repeat="month in months | orderBy : 'toString()' : true">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{namesPerMonth[month]}}</div>
        <div class="panel-body">

          <div data-ng-show="$index==0" class="pull-right">
            <a class="btn btn-primary" href="#/expenses/add" alt="Aggiungi" title="Aggiungi">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a class="btn btn-primary" href="#/expenses/unaTantum" alt="Iscrizione" title="Iscrizione">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-primary" href="#/expenses/subscriptions" alt="Rette" title="Rette">
              <span class="glyphicon glyphicon-calendar"></span>
            </a>


          </div>

          <div>
            <h2 data-ng-show="totalsPerMonth[month]>=0"><mark>+ &euro; {{totalsPerMonth[month]/100 | number : 2}}</mark></h2>
            <h2 data-ng-show="totalsPerMonth[month]<0"><mark>- &euro; {{-totalsPerMonth[month]/100 | number : 2}}</mark></h2>
          </div>
        </div>

        <!-- Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Data</th>
              <th>Descrizione</th>
              <th>Importo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="expense in expensesPerMonth[month] | orderBy:'timestamp':true">
              <td>{{expense.timestamp|date:'dd/MM/yyyy HH:mm'}}</td>
              <td>{{expense.description}} <span class="label label-info">{{expense.category}}</span></td>
              <td>
                <span data-ng-show="expense.value>=0">+ &euro; {{expense.value/100 | number : 2}}</span>
                <span data-ng-show="expense.value<0">- &euro; {{-expense.value/100 | number : 2}}</span>
              </td>
              <td>
                <div class="btn-group">
                  <a data-ng-show="expense.category!='fee' && expense.category!='unatantum'" class="btn btn-default btn-sm" alt="Edit" href="#/expenses/edit/{{expense.$id}}">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <a data-ng-show="expense.category=='unatantum'" class="btn btn-default btn-sm" alt="Edit" href="#/expenses/unaTantum?month={{expense.month}}&year={{expense.year}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <a data-ng-show="expense.category=='fee'" class="btn btn-default btn-sm" alt="Edit" href="#/expenses/subscriptions?month={{expense.month}}&year={{expense.year}}">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </a>
                </div>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
