<div class="row">
  <div class="col-md-12">
    <h1>
      Cassa
    </h1>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Operazioni</div>
      <div class="panel-body">
        <div class="pull-right">
          <a class="btn btn-primary" href="#/expenses/add">
            <span class="glyphicon glyphicon-plus"></span> Operazione
          </a>
          <a class="btn btn-primary" href="#/expenses/subscriptions">
            <span class="glyphicon glyphicon-heart"></span> Iscrizioni
          </a>
        </div>
        <div>
          <h2 data-ng-show="total>=0"><mark>+ &euro; {{total/100 | number : 2}}</mark></h2>
          <h2 data-ng-show="total<0"><mark>- &euro; {{-total/100 | number : 2}}</mark></h2>
        </div>
      </div>

      <!-- Table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Data</th>
            <th>Descrizione</th>
            <th>Importo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="expense in expenseList | orderBy:'timestamp':true">
            <td>{{expense.timestamp|date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{expense.description}}</td>
            <td>
              <span data-ng-show="expense.value>=0">+ &euro; {{expense.value/100 | number : 2}}</span>
              <span data-ng-show="expense.value<0">- &euro; {{-expense.value/100 | number : 2}}</span>
            </td>
            <td>
              <div class="btn-group">
                <a class="btn btn-default btn-xs" alt="Edit" href="#/expenses/edit/{{expense.$id}}">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
              </div>
              <div class="btn-group">
                <button class="btn btn-danger btn-xs" alt="Remove" data-ng-click="delete(expense)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
